* {
  margin: 0;
  padding: 0;
  box-sizing: border-box:;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-image: url(../img/pattern.png);
  padding: 10px 0;
  font-family: 'Raleway', sans-serif;
}

#container {
  width: 50%;
  margin: auto;
}

header {
  height: 400px;
  background-color: black;
  top: 0;
  left: 0;
  text-align: center;
}

#banner {
  position: relative;
  height: calc(90% - 20px);
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 10px solid white;
}


#title img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 60%;
  max-width: 100%;
}

#title h2 {
  position: absolute;
  top: calc(75% + 28px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

nav {
  position: relative;
  background-color: lightgrey;
  /* height: 10%; */
  line-height: 40px;
}
nav ul {
  width: 100%;
  height: 100%;
  line-height: 40px;
}

nav ul li {
  display: inline-block;
  padding-right: 10px;
}
nav ul li a {
  line-height: 40px;
  vertical-align: middle;
}

nav ul li a:hover {
  background-color: grey;
}

nav ul li:not(:last-child) a {
  border-right: 1px solid darkgrey;
}

nav ul li:not(:first-child) a {
  border-left: 1px solid white;
}

main {
  margin-top: 20px;
}
main::after {
  content: "";
  display: table;
  clear: both;
}

.float-l {
  float: left;
}

.float-l div,
footer {
  background-color: white;
  border-radius: 5px;
}

.float-l:not(.col-l) div {
  padding: 20px;
}

.col-l,
.col-r {
  width: 25%;
}

.col-l * {
  margin-bottom: 10px;
}
.col-l a {
  color: green;
}
.col-l div {
  padding: 5px;
}

.col-c {
  width: calc(50% - 6%);
  margin: 0 3%;
}

.col-c p,
.col-r p {
  line-height: 30px;
  padding-top: 30px;
}

.col-r div {
  margin-bottom: 10%;
}

footer {
  height: 150px;
  bottom:0;
  text-align: center;
  font-style: italic;
  color: lightgrey;
}

footer h5 {
  padding: 5px;
  height: 10%;
}

footer hr {
  width: 97%;
  margin: 0 auto;
}

.social {
  width: 100%;
  height: calc(90% - 12px);
  font-size: 40px;
}

.social i {
  width: 32%;
  line-height: 123px;
  vertical-align: middle;
}
